In [4]:
import pandas as pd
from ydata_profiling import ProfileReport

In [5]:
df = pd.read_csv('Loan_default.csv')

In [6]:
df.head(3)

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1

In [7]:
# Create the profile report
profile = ProfileReport(df, title="Loan Default Dataset Report", explorative=True)

# Save to HTML file
profile.to_file("loan_default_report.html")

Summarize dataset:   0%|                                         | 0/23 [00:00<?, ?it/s, Describe variable: LoanAmount]
Summarize dataset:  26%|█████████▏                         | 6/23 [00:03<00:08,  2.02it/s, Describe variable: DTIRatio]
Summarize dataset:  30%|██████████▋                        | 7/23 [00:04<00:06,  2.56it/s, Describe variable: DTIRatio]
Summarize dataset:  39%|███████████▋                  | 9/23 [00:05<00:07,  1.78it/s, Describe variable: MaritalStatus]
 44%|████████████████████████████████████▉                                              | 8/18 [00:05<00:04,  2.30it/s]
Summarize dataset:  48%|█████████████▊               | 11/23 [00:06<00:05,  2.14it/s, Describe variable: HasDependents]
Summarize dataset:  52%|███████████████▏             | 12/23 [00:06<00:04,  2.64it/s, Describe variable: HasDependents]
Summarize dataset:  52%|████████████████▏              | 12/23 [00:06<00:04,  2.64it/s, Describe variable: LoanPurpose]
Summarize dataset:  57%|█████████████████▌             | 13/23 [00:07<00:06,  1.47it/s, Describe variable: HasCoSigner]
Summarize dataset:  65%|██████████████████████▊            | 15/23 [00:08<00:03,  2.42it/s, Describe variable: Default]
Summarize dataset:  70%|████████████████████████▎          | 16/23 [00:09<00:03,  1.86it/s, Describe variable: Default]
Summarize dataset:  74%|█████████████████████████▊         | 17/23 [00:09<00:03,  1.97it/s, Describe variable: Default]
100%|██████████████████████████████████████████████████████████████████████████████████| 18/18 [00:09<00:00,  1.98it/s]
Summarize dataset: 100%|████████████████████████████████████████████████████| 76/76 [00:33<00:00,  2.24it/s, Completed]
Generate report structure: 100%|█████████████████████████████████████████████████████████| 1/1 [00:06<00:00,  6.42s/it]
Render HTML: 100%|███████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.23s/it]
Export report to file: 100%|█████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 46.64it/s]